---
import { Icon } from "astro-icon/components";
import "../styles/global.css";
---

<footer class="bg-primary text-white">
    <div class="container mx-auto px-6 py-10">
        <div class="text-center">
            <p class="font-bold text-lg">&copy; 2025 SEGUREX. Todos los derechos reservados.</p>
            <p class="text-sm opacity-80 mt-2">Construyendo un futuro seguro para todos.</p>
        </div>
        <div class="mt-8 flex justify-center space-x-6">
            <a href="https://wa.me/573113139609" target="_blank" class="text-white hover:text-accent transition text-2xl">
                <Icon name="fa6-brands:whatsapp" />
            </a>
            <a href="https://instagram.com/segurex1_" target="_blank" class="text-white hover:text-accent transition text-2xl">
                <Icon name="fa6-brands:instagram" />
            </a>
            <a href="https://facebook.com/Segurex-seguridad-social" target="_blank" class="text-white hover:text-accent transition text-2xl">
                <Icon name="fa6-brands:facebook" />
            </a>
        </div>
    </div>
</footer>
